*{
 	 margin: 0;
	 padding: 0;
}
body{
	background: #9ebeb6;
}
/*Codigo de menu*/
.menu {
	background-color: #9ebeb6;
	color: #fff;
}
.menu-links .logo{
	height: 64px;
    padding: 8px;
    margin-left: 34px;
}
.menu-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-links a {
	color: inherit;
	display: inline-block;
	padding: 2rem;
	text-decoration: none;
	font-size: 20px; 
}
.boton{
	cursor: pointer;
	display: none;
	padding: 1rem;
	user-select: none;
}
.menuboton:focus ~ .boton, .menu-toggle-button:hover {
	background-color: #444;
}
.menu-toggle {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
.menu-links a:hover {
	color: #0a393f;
	}
@media (max-width: 800px) {
	.menu-links a:hover {
	color: white;
	background-color: #444;
	outline: none;
	height: 30px
	}
	.menu-links {
		flex-direction: column;
	}
	.menu-links a {
		width: 100%;
	}
	.menu-toggle:not(:checked) ~ .menu-links {
		display: none;
	}	
	.boton{
		display: inline-block;
	}
	.menu-links .logo{
	display: none;
}
}
/*Titulo*/
.logo3{
 text-align: center;
 color: white;
 font-size: 80px;
 font-family: sans-serif;
}
article .logo2{
	height: 70px;
    margin-left: 99px;
    text-align: center;
}
/*Galeria*/
header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 300px; 
  margin: .4vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}
body p{
	color: white;
	font-size: 21px;
	margin-left: 10%;
	margin-right: 10%;
}
.titulo{
	color: white;
	font-size: 50px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 10px;
 	font-family: sans-serif;
}
@media screen and (max-width: 1209px) {
  article .logo2{
	height: 70px;
	margin-left: -7px;
    text-align: center;
}
.titulo{
	margin-left: 25%;
	margin-right: 30%;
}
}
@media screen and (max-width: 1005px){
	article .logo2{
     margin-left: -82px;
}
.titulo{
    margin-left: 22%;
    margin-right: 8%;
}
}
@media screen and (max-width: 834px){
article .logo2 {
    margin-left: -94px;
    height: 61px;
}
.titulo {
    margin-left: 17%;
    margin-right: 8%;
}
}
@media screen and (max-width: 834px){
.titulo {
    margin-left: 11%;
    margin-right: 8%;
}
article .logo2 {
    margin-left: -63px;
    height: 49px;
}
}
@media screen and (max-width: 577px){
article .logo2 {
    margin-left: -63px;
    height: 42px;
}
.logo3 {
    font-size: 61px;

}
}
@media screen and (max-width: 401px){
article .logo2 {
    margin-left: -16px;
    height: 26px;
}
.logo3 {
    font-size: 48px;

}
.titulo{
	font-size: 40px;
}
}
nav .icon1 {
	height: 51px;
}